<div>
  <h1 style="margin: 64px">Learning Materials</h1>
  <div class="learning-title">
    <div class="learning-subtitle">
      <h2>
      Investment Savings Loan Invest
      </h2>
    </div>
      <div class="sub-learning">
        <div class="learning-description">
          <h3 class="title-learning">
          Title
          <br>
          <br>
          Description
          <i class="fas fa-coins"></i>
          </h3>
        </div>
        <div class="icon-plus">
            <div class="learning-plus" style= "d-flex">
              <h4 class="topic-learning">
              Topic Read 3 mins </h4>
            </div>
              <div class="learn-icons">
                <i class="fa-regular fa-plus"></i>
                <i class="fa-regular fa-bookmark"></i>
              </div>
          </div>
      </div>
  </div>
</div>
