<div>
  <div class="learning-title">
    <h1>Learning Materials</h1>
    <div class="learning-subtitle">
      <h2>
      Investment Saving Loan Invest
      </h2>
    </div>

      <div class="learning-description">
        <h3>
        Title
        <br>
        Description
        <i class="fas fa-coins coins-icon"</i>
        </h3>
      </div>
      <div class="icon-plus">
          <div class="learning-plus" style= "d-flex">
            <h4>
            Topic Read 3 mins </h4>
          </div>
            <div class="fa-icons">
              <i class="fa-regular fa-plus"></i>
              <i class="fa-regular fa-bookmark"></i>
            </div>
        </div>
  </div>
</div>
