<div>
  <h1 style="margin: 64px">Learning Materials</h1>
  <div class="learning-title">
    <div class="learning-subtitle">
      <h2>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Investment</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-savings-tab" data-bs-toggle="pill" data-bs-target="#pills-savings" type="button" role="tab" aria-controls="pills-savings" aria-selected="false">Savings</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-loan-tab" data-bs-toggle="pill" data-bs-target="#pills-loan" type="button" role="tab" aria-controls="pills-loan" aria-selected="false">Loan</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-invest-tab" data-bs-toggle="pill" data-bs-target="#pills-invest" type="button" role="tab" aria-controls="pills-invest" aria-selected="false">Invest</button>
          </li>
        </ul>
      </h2>
    </div>
  </div>
</div>
<% @learning_materials.each do |material| %>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
      <div class="sub-learning">
        <div class="learning-description">
          <h3 class="title-learning">
            Title: <%= material.title %>
            <br>
            <br>
            Description: <%= material.description %>
            <i class="fas fa-coins"></i>
            </h3>
        </div>
        <div class="icon-plus">
          <div class="learning-plus" style= "d-flex">
            <h4 class="topic-learning">
            Topic Read 3 mins </h4>
          </div>
          <div class="learn-icons">
            <i class="fa-regular fa-plus"></i>
            <i class="fa-regular fa-bookmark"></i>
          </div>
        </div>
      </div>
  </div>
  <div class="tab-pane" id="pills-savings" role="tabpanel" aria-labelledby="pills-savings-tab" tabindex="0">
    <div class="sub-learning">
      <div class="learning-description">
        <h3 class="title-learning">
          Title SAVINGS
          <br>
          <br>
          Description
          <i class="fas fa-coins"></i>
          </h3>
      </div>
      <div class="icon-plus">
        <div class="learning-plus" style= "d-flex">
          <h4 class="topic-learning">
          Topic Read 3 mins </h4>
        </div>
        <div class="learn-icons">
          <i class="fa-regular fa-plus"></i>
          <i class="fa-regular fa-bookmark"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane" id="pills-loan" role="tabpanel" aria-labelledby="pills-loan-tab" tabindex="0">
      <div class="sub-learning">
          <div class="learning-description">
            <h3 class="title-learning">
              Title LOAN
              <br>
              <br>
              Description
              <i class="fas fa-coins"></i>
              </h3>
          </div>
          <div class="icon-plus">
              <div class="learning-plus" style= "d-flex">
                <h4 class="topic-learning">
                Topic Read 3 mins </h4>
              </div>
                <div class="learn-icons">
                  <i class="fa-regular fa-plus"></i>
                  <i class="fa-regular fa-bookmark"></i>
                </div>
          </div>
        </div>
      </div>
  </div>
  <% end  %>
  <div class="tab-pane" id="pills-invest" role="tabpanel" aria-labelledby="pills-invest-tab" tabindex="0">
      <div class="sub-learning">
        <div class="learning-description">
          <h3 class="title-learning">
            Title INVEST
            <br>
            <br>
            Description
            <i class="fas fa-coins"></i>
            </h3>
        </div>
        <div class="icon-plus">
          <div class="learning-plus" style= "d-flex">
            <h4 class="topic-learning">
            Topic Read 3 mins </h4>
          </div>
          <div class="learn-icons">
            <i class="fa-regular fa-plus"></i>
            <i class="fa-regular fa-bookmark"></i>
          </div>
        </div>
      </div>
  </div>
</div>
