<h1>Learn</h1>
<div class="learnbox">

  <div class="titlebox">

    <h2><%= @learning_material.title %></h2>
  </div>

<div class="flex-hold">
    <div class="textbox">
      <h3><%= @learning_material.description %></h3>
    </div>

    <div class="bookmarkbox">
      <%# <i class="fa-regular fa-plus"></i>
      <i class="fa-regular fa-bookmark"></i> %>
    </div>
  </div>
</div>
