.dashboard-title {
  color: $finlit-white;
  font-family: $headers-font;
  margin-left: 10%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensures both columns have equal height */
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  z-index: 0;
}

.card {
  color: $finlit-white;
  font-family: $body-font;
  background-color: #333232;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 0;
  min-width: 85%;
  max-width: 85%;
  height: 100%;
}

.column:last-child .card:last-child {
  flex-basis: 100%;
}

.widgets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  margin-left: 5%;
}

.savings-card {
  text-align: center;
}

.balance-card {
  background-color: #3C28B9;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center; /* vertically center the content */
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  // top: 50%;
}

.balance-card:hover {
  background-color: #4f3ccc;
}

.saving-msg {
  background-color: #4D4D4D;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  align-items: center; /* vertically center the content */
  height: 100%;
  padding-top: 5%;
  margin: 1.5rem;
  // top: 50%;
}

#amount {
  font-size: large;
  margin: 0 !important;
  margin-bottom: 0.25rem !important;
}

#text {
  margin: 0 !important;
  font-size: small;
  margin-bottom: 1rem !important;
}

#motivation-msg {
  margin: 0 !important;
  font-size: small;
}


.balance-card p {
  margin: 0 !important;
}

.button-create{
  background-color: #3C28B9;
  border-radius: 10px;
  color: white;
  padding: 8px;
  font-size: large;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 18 !important;
}

.container-master-dashboard {
  width: 95%;
  z-index: 0 !important;
}

.h3-dashboard {
  margin-bottom: 1.8rem;
}

// --------- NEWS WIDGET ------------

.news-title {
  color: $finlit-white;
  font-family: $headers-font;
  margin-left: 10%;
}

#refresh-btn {
  position: absolute;
  top: 7%;
  left: 80%;
  background-color: transparent;
  border: none;
  color: rgb(202, 202, 202);
  font-size: 1.5rem;
}

#refresh-btn:hover {
  color: rgba(202, 202, 202, 0.593);
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#news-link {
  background-color: #3C28B9;
  width: 60%;
  padding: 0.6rem;
  text-align: center;
  border-radius: 1rem;
  color: rgb(202, 202, 202);
  text-decoration: none;
}
