
<body>
  <div class="container-main">

      <div class= "text"><h1>Savings</h1></div>
    <div class="d-flex">
      <h2 class= "card"> <i class="fas fa-car-side fa-3x" style="color:#d9534f"></i> &nbsp; Car </h3>
      <br>
      <h3>Current balance : $1,200
          <div class="ui-widgets">
            <div class="ui-values">20%</div>
            <div class="ui-labels">Saved</div>
          </div>
       Goal : $5000</h3>
      <h2 class= "card"> <i class="fas fa-house fa-3x" style="color:#d9534f"></i> &nbsp; House</h2>
      <br>
      <h3>Current balance : $62,000
          <div class="ui-widgets">
            <div class="ui-values">20%</div>
            <div class="ui-labels">Saved</div>
         </div>
      Goal : $250,000</h3>
      <h2 class= "card"> <i class="fa fa-mars-double fa-3x" aria-hidden="true" style="color:#d9534f"></i> &nbsp; Marriage </h2>
      <br>
      <h3>Current balance : $19,000
          <div class="ui-widgets">
            <div class="ui-values">20%</div>
            <div class="ui-labels">Saved</div>
          </div>
      Goal : $70,000</h3>
    </div>
        <p style="color: green"><%= notice %></p>

      <div id="savings">
        <% @savings.each do |saving| %>
          <%= render saving %>
          <p>
            <%= link_to a"Show this saving", saving %>
          </p>
        <% end %>
      </div>

      <%= link_to "New saving", new_saving_path %>
      </div>
  </div>
</body>
