<div class="container-master">
    <div class="background-gradient-container-top">
    <div class="shadow-gradient"></div>
      <div class="container dashboard">
        <div id="title">
          <h1 class=" dashboard-title">Your<br>Dashboard</h1>
        </div>
        <div class="widgets">
          <div class="ds-card">
            <div class="ds-card-col-1">
              <div class="ds-accounts w-bg"><h2>Across Accounts</h2></div>
              <div class="ds-news w-bg"><h2>News</h2></div>
            </div>
          </div>
          <div class="ds-card ds-card-bg">
            <div class="ds-card-col-2">
              <div class="ds-savings">
                <h2>Savings</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

