<div class="container-master">
    <div class="background-gradient-container-top">
    <div class="shadow-gradient"></div>
      <div class="container dashboard">
        <div id="title">
          <h1 class=" dashboard-title">Your<br>Dashboard</h1>
        </div>
        <div class="widgets">
          <div class="row">
            <div class="column">
              <div class="card">
                <h3>Accross accounts</h3>
                <div class="balance-card">
                  <p>BALANCE</p>
                  <p>4,897</p>
                </div>
              </div>
              <div class="card">
                <h3>News</h3>
              </div>
            </div>
            <div class="column">
              <div class="card savings-card">
                <h3>Savings accounts</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

