<body>
  <div class="container-master">
    <div class="background-gradient-container-top"></div>
    <div class="shadow-gradient"></div>
  </div>
  <div class="hero-landing-page hover3d" data-controller="hover3d">
    <div class="hero-text">
      <h1 class="hero-h1">Effortless<br>Financial<br>Education.</h1>
      <h4 class="hero-h4">The All-in-One Financial<br>Literacy App for Smarter Spending and Wealth Building.</h4>
      <%= link_to "Get Started", accounts_path, class: "hero-btn" %>
    </div>
    <img class="hero-img card-3d" data-hover3d-target="card" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1678144979/hero-img_t5iobn.png">
  </div>
    <%# ----------- SCROLLER ANIMATION ------------ %>
      <div class="scroller-wheel">
    <a href="javascript:;" class="scroll-down mouse effect1">
      <span id="scroll-down-span"></span>
    </a>
  </div>
  <p id="scroll-p">See more</p>
  <div class="container-scroll">
    <div id="typewriter-output"></div>
    <span id="cursor"></span>
  </div>
  <script>
    setTimeout(function() {
      document.getElementById("scroll-p").style.display = "block";
      document.getElementById("scroll-p").style.opacity = 0;

      setTimeout(function() {
        document.getElementById("scroll-p").style.transition = "opacity 3s ease-in";
        document.getElementById("scroll-p").style.opacity = 1;
      }, 10);
    }, 2000);
    setTimeout(function() {
      document.querySelector(".scroller-wheel").style.display = "block";
      document.querySelector(".scroller-wheel").style.opacity = 0;

      setTimeout(function() {
        document.querySelector(".scroller-wheel").style.transition = "opacity 3s ease-in";
        document.querySelector(".scroller-wheel").style.opacity = 1;
      }, 10);
    }, 1000);
  </script>
  <%# ----------- SCROLLER ANIMATION END ------------ %>
  <div class="container-master">
    <div class="background-gradient-container-bottom">
    <div class="shadow-gradient-bottom"></div>
  </div>
  <div class="hero-text-2">
    <%= link_to "Built Differently.", root_path, class: "hero-btn2" %>
    <h1 class="hero2-h1">The<span class="hero2-span"> Ultimate</span><br>Financial Literacy App<br>for Budgeting,<br>Saving, and<br>Investing.</h1>
    <div class="mockup-master">
      <img class="mockup"src="https://res.cloudinary.com/djr22sgp3/image/upload/v1678187740/FinLit_-_Mockup_dt3gwi.png"/>
    </div>
    <img class="mock-up-iphone" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1678462354/Free-Floating-iPhone-13-Mockup-PSD_tafoko.png">
    <h4 class="mockup-info">Finlit is your partner in <span class="mockup-info-span">personal financial success</span>, track your spending, stay on <span class="mockup-info-span">budget</span>, and get expert <span class="mockup-info-span">advice</span> to help you achieve your <span class="mockup-info-span">goals</span>.</h4>
  </div>
</body>
