<body>
  <div class="container-master">
    <div class="background-gradient-container-top">
    <div class="shadow-gradient"></div>
      <div class="hero-text">
        <h1 class="hero-h1">Effortless<br>Financial<br>Education.</h1>
        <h4 class="hero-h4">Take Charge of Your Money with Finlit: The All-in-One Financial<br>Literacy App for Smarter Spending and Wealth Building.</h4>
        <%= link_to "Get Started", root_path, class: "hero-btn" %>
        <img class="hero-img" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1678144979/hero-img_t5iobn.png">
    </div>
    </div>
    <div class="background-gradient-container-bottom">
    <div class="shadow-gradient-bottom"></div>
    </div>
  </div>
</body>
