<div data-controller="openai">
  <div data-openai-target="container">
  </div>
  <div data-openai-target="chat">
  </div>
</div>
<%# <div class="search-header">
  <h1 class="transactions-title">Suggestions</h1>
</div>
<div class="background-gradient-master-transactions">
  <div class="background-gradient-container-transactions"></div>
  <div class="shadow-gradient"></div>
</div>
<div class="search-container">
  <div class="chat-form-master">
    <form id="chat-form">
      <div class="search">
        <input type="checkbox" id="trigger" class="search__checkbox"/>
        <label class="search__label-init" for="trigger"></label>
        <label class="search__label-active" for="trigger"></label>
        <div class="search__border"></div>
        <input type="text" class="search__input" id="user-input"/>
        <button type="submit" id="submit-btn" style="display:none">
          <img id="search-img" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1678361784/icons8-search-100_msg4yj.png">
        </button>
        <div class="search__close"></div>
      </div>
    </form>
  </div>
</div> %>
