<div class="chat-form-master">
  <form id="chat-form">
    <input type="text" id="user-input" placeholder="Type your message here...">
    <button type="submit" id="submit-btn">Send</button>
  </form>
</div>
<div id="chat-container"></div>
