<script>
  const trigger = document.getElementById('trigger');
  const searchBorder = document.querySelector('.search__border');

  trigger.addEventListener('click', function() {
    searchBorder.classList.toggle('hidden');
  });
</script>
<div class="search-header">
  <h1 class="transactions-title">Suggestions</h1>
</div>
<div class="background-gradient-master-transactions">
  <div class="background-gradient-container-suggestions"></div>
  <div class="shadow-gradient"></div>
</div>
<div class="search-container">
  <div class="chat-form-master" data-controller="openai" data-openai-key-value="<%= ENV['OPEN_ACCESS_KEY'] %>">
    <form id="chat-form" data-openai-target="form">
      <div class="search">
        <input type="checkbox" id="trigger" class="search__checkbox"/>
        <label class="search__label-init" for="trigger" title="Search"></label>
        <label class="search__label-active" for="trigger"></label>
        <div class="search__border"></div>
        <input type="text" class="search__input" data-openai-target="input" id="user-input"/>
        <button type="submit" id="submit-btn">
          <img id="search-img" title="Search" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1678361784/icons8-search-100_msg4yj.png" hidden>
        </button>
        <div class="loader d-none" data-openai-target="loader">
          <p class="loader-text"></p>
        </div>
        <div class="search__close"></div>
        <div class="chat-container-master">
          <div class="chat-container" data-controller="hover3d">
            <img class="budgetbot" data-hover3d-target="card" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1678661063/original-035e87c5a88c791e04d7aa20039bcc55_2-2_gweqmn.png">
            <div data-controller="typed">
              <p data-typed-target="text" id="typed-text"></p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <p data-openai-target="chat" id="chat-content"><span class="intro-msg-content">Ask me anything related to personal finance, investing or budgeting!</span></p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
