.accounts-title {
  font-weight: bold;
  text-align: left;
  color: rgb(202, 202, 202);
  z-index: 3;
}

.accounts-btn {
  position: absolute;
  top: 10%;
  left: 10%;
}

// ------------ BANKAVATAR ------------

.bank-avatar-accounts {
  position: relative;
  left: -5%;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin: 0.5rem;
  margin-bottom: 1rem;
  object-fit: cover;
}

// ------------ SWTITCHER ------------

.account-switcher {
  border: none;
  background-color: rgba(19, 19, 19, 0);
  color: rgb(202, 202, 202);
  font-size: 2rem;
  font-weight: 600;
}

// -------------- Add Button --------------

.add-btn-flex {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
}

.add-btn {
  font-size: 1.8rem;
  border: none;
  background-color: #181818;
  color: #e0e0e0;
  font-weight: 900;
  margin-top: -0.2rem;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
  z-index: 0;
}

.add-btn:hover::before {
  content: attr(title);
  position: absolute;
  top: 15%;
  left: -160%;
  transform: translateX(-50%);
  padding: 0.5em;
  background-color: #181818;
  color: #fff;
  font-size: 0.5em;
  border-radius: 1rem;
  white-space: nowrap;
  z-index: 1;
  transition: all 0.6s ease-in-out;
}

.add-btn:hover {
  cursor: pointer;
  background-color: #282828;
  color: #ffffff;
  scale: 1.1;
  transition: all 0.6s ease-in-out;
  -webkit-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  -moz-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
}

.accounts-menu {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}


// -------------- Gradient Control  --------------

.accounts-title-row {
  display: inline-block;
}

// -------------- Gradient Control  --------------

.background-gradient-master {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


// -------------- ACCOUNTS FORM --------------

.add-accounts-master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-accounts-master a {
  text-decoration: none !important;
  color: rgb(202, 202, 202) !important;
}

.add-accounts-container {
  margin-top: 4%;
  width: 40%;
  background-color: #1d1d1d;
  color: rgb(202, 202, 202);
  padding: 3rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  -moz-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  margin-bottom: 5rem;
}

#new_account {
  width: 100%;
}

.back-account-btn {
  position: absolute;
  top: 23%;
  left: 5%;
  font-size: 0.8rem;
  background-color: rgba(19, 19, 19, 0);
  color: rgb(201, 201, 201);
  font-weight: 900;
  text-decoration: none;
  border: 2px solid rgb(201, 201, 201);
  background-color: rgba(102, 102, 102, 0.369);
  border-radius: 1rem;
  padding: 0.5rem;
  -webkit-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  -moz-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
}

.back-account-btn:hover {
  cursor: pointer;
  color: rgb(244, 244, 244);
  border: 2px solid rgb(101, 32, 198);
  transition: all 0.6s ease-in-out;
  -webkit-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  -moz-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
}



// ----------- ACCOUNTS GRID ------------


.account-grid-container {
  margin-top: 2rem !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.account-link {
  text-decoration: none;
  color: rgb(202, 202, 202);
}

.account-grid-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 2rem 1rem;
  width: 18rem;
  min-width: 18rem;
  max-width: 18rem;
  background-color: #1d1d1d;
  background-image: url("https://res.cloudinary.com/djr22sgp3/image/upload/v1678617678/pattern_circles-4_1_1_20-20_0_1__ffffff00_8059d436_aj75q1.png");
  background-size: cover;
  color: rgb(202, 202, 202);
  padding: 2rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  -moz-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
}

.account-grid-item:hover {
  color: rgb(202, 202, 202);
}

.account-card{
  margin: auto;
}

.intro-accounts-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}

.intro-accounts-card {
  margin-top: 0.7rem;
}

.account-link:hover {
  cursor: pointer;
  color: rgba(202, 202, 202, 0.687);
  scale: 1.02;
  transition: all 0.3s ease-in-out;
}

.account-card-balance {
  font-size: 1.5rem;
  font-weight: 600;
}

.account-card-time {
  font-size: 0.6rem;
  font-weight: 300;
}

.card-action-buttons {
  background-color: #531cc937;
  border: 1px solid #531cc9c7;
  color: #d6d6d6;
  border-radius: 1rem;
  padding: 0.6rem 0;
  position: relative;
  left: 0%;
  width: 40%;
  z-index: 17;
}


.card-action-buttons:hover {
  background-color: #531cc95d;
  border: 1px solid #531cc9c7;
  filter: brightness(1.2);
  scale: 1.05;
}

section{
  position: relative;
}

.btn-pluss-wrapper-accounts {
  position: absolute;
}

.btn-pluss-accounts{
  overflow: hidden;
  position: relative;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 22px;
  width: 2.5rem;
  top: 50%;
  margin-left: -0.3rem;
  background-color: rgb(63, 63, 63);
  transition: width .3s .5s ease, border-radius 1.1s ease;
  a{
    display: block;
    position: relative;
    color: #d6d6d6;
    text-decoration: none;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    &:hover{
      text-decoration: inherit;
      color: white;
      background-color: #7433a6;
      transition: background-color .5s ease;
    }
  }
  &:after{
    content: '•••';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    line-height: 20px;
    text-align: center;
    font-size: 1rem;
    background-color: #7433a6;
    color: white;
    transform: translateY(-50%) translateX(-50%);
    transition: all .3s .5s ease;
    cursor: pointer;
    cursor: hand;
  }
  ul{
    opacity: 0;
  }
  ul{
    margin-top: 15px;
    opacity: 0;
    width: 100%;
    margin-left: -1rem;
    //height: 0;
    transition: all .5s ease;
    text-align: center;
    font-size: 0.9rem;
    li{
      background-color: #4f4f4f;
      margin-top: 5px;
      border-radius: 5px;
      width: 100%;
      height: 0px;
      overflow: hidden;
      transition: height 1s ease;
    }
  }
  //
}

.btn-pluss-wrapper-accounts:hover{
  .btn-pluss-accounts{
    width: 130px;
    //height: 120px;
    border-radius: 15px;
    padding-bottom: 5px;
    transition: width .3s ease, border-radius .3s ease, padding-bottom .3s ease;
    &::after{
      transition: all .3s ease;
      left: 15%;
      top: 10px;
      transform: translateY(-5px) translateX(-50%);
    }
    ul{
      opacity: 1;
      //height: 100%;
      margin-top: 30px;
      transition: all 1s ease;
    }
    li{
      height: 25px;
      transition: height 1s ease;
    }
  }
}
@keyframes jump {
  0% {
    transform: translateY(3px)
  }
  50% {
    transform: translateY(25px)
  }
   100% {
    transform: translateY(3px)
  }
}

// ----------- ACC BTN ------------

.acc-btn-flex {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
  margin-bottom: -5%;
}

.acc-btn {
  position: absolute;
  font-size: 1.2rem;
  border: none;
  background-color: #353535;
  color: #e0e0e0;
  font-weight: 900;
  margin-top: -0.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0;
  z-index: 0;
}

.acc-btn:hover::before {
  content: attr(title);
  position: absolute;
  top: -85%;
  left: 100% !important;
  transform: translateX(-50%);
  padding: 0.5em;
  background-color: #181818;
  color: #fff;
  font-size: 0.5em;
  border-radius: 1rem;
  white-space: nowrap;
  z-index: 1;
  transition: all 0.6s ease-in-out;
}

.acc-btn:hover {
  cursor: pointer;
  background-color: #282828;
  color: #ffffff;
  scale: 1.1;
  transition: all 0.6s ease-in-out;
  -webkit-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  -moz-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  transition: all 0.6s ease-in-out;
}

.grid-item-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(202, 202, 202);
}

.grid-item-link:hover {
  color: rgb(202, 202, 202);
}

// ------------------------ BACKGROUND GRADIENT ACCOUNTS ------------------------

.background-gradient-master-accounts {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-gradient-container-accounts {
  z-index: -5;
  position: absolute;
  top: 20%;
  height: 116%;
  width: 95%;
  border-radius: 0 0 4rem 4rem ;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 20%, rgba(102,51,238,1) 78%, rgba(255,255,255,1)110%);
}

// ------------------------ CREATE ACCOUNTS ------------------------

#account_account_name {
  background-color: #1d1d1d !important;
  color: rgb(202, 202, 202) !important;
  border: none !important;
  border-bottom: 1px solid rgb(202, 202, 202) !important;
  border-radius: 0 !important;
  padding: 0.5rem !important;
  margin-bottom: 2rem !important;
}

#account_account_type {
  background-color: #1d1d1d !important;
  color: rgb(130, 130, 130) !important;
  border: none !important;
  border-bottom: 1px solid rgb(202, 202, 202) !important;
  border-radius: 0 !important;
  padding: 0.5rem !important;
  margin-bottom: 2rem !important;
}

#account_balance {
  background-color: #1d1d1d !important;
  color: rgb(202, 202, 202) !important;
  border: none !important;
  border-bottom: 1px solid rgb(202, 202, 202) !important;
  border-radius: 0 !important;
  padding: 0.5rem !important;
  margin-bottom: 2rem !important;
}

#account_account_number {
  background-color: #1d1d1d !important;
  color: rgb(202, 202, 202) !important;
  border: none !important;
  border-bottom: 1px solid rgb(202, 202, 202) !important;
  border-radius: 0 !important;
  padding: 0.5rem !important;
  margin-bottom: 2rem !important;
}

#account_saving_goal {
  background-color: #1d1d1d !important;
  color: rgb(202, 202, 202) !important;
  border: none !important;
  border-bottom: 1px solid rgb(202, 202, 202) !important;
  border-radius: 0 !important;
  padding: 0.5rem !important;
  margin-bottom: 2rem !important;
}

.create-account-container {
  margin-top: 3%;
  margin-bottom: 5%;
  width: 40%;
  background-color: #1d1d1d;
  color: rgb(202, 202, 202);
  padding: 3rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  -moz-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
}

.add-account-bank-avatar-master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-account-bank-avatar {
  width: 20%;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.add-account-h2 {
  text-align: center;
}

.modify-btn {
  font-size: 1.2rem;
  border: none;
  background-color: #565656;
  color: #e0e0e0;
  font-weight: 900;
  margin-top: -0.2rem;
  position: absolute;
  top: 39%;
  right: 46.5%;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  padding: 0;
  z-index: 0;
}

.modify-btn:hover {
  cursor: pointer;
  background-color: #282828;
  color: #ffffff;
  scale: 1.1;
  -webkit-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  -moz-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  transition: all 0.6s ease-in-out;
}

// --------------- ACCOUNT SHOW PAGE ---------------

.account-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.icon-radio{
  width: 50px;
  height: 50px;
}

// .icon-radio-input[type="radio"] + label .icon-radio {
//   background-image: inherit;
// }

// .icon-radio-input[type="radio"] + label.icon-radio-label {
//   display: inline-block;
//   width: 300px;
//   height: 300px;
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: center;
//   cursor: pointer;
// }

.my-input {
  background-image: inherit;
}
