html {
  font-size: 16px;
  height: 100vh;
}

body {
  background-color: #010314;
}

.container-master {
  z-index: -5 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.background-gradient-container-top {
  z-index: -5;
  position: absolute;
  top: 20%;
  height: 70vh;
  width: 95%;
  border-radius: 0 0 4rem 4rem ;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 20%, rgba(102,51,238,1) 78%, rgba(255,255,255,1)110%);
}

.background-gradient-container-bottom {
  top: 105%;
  z-index: -5;
  position: absolute;
  height: 95vh;
  width: 95%;
  border-radius: 4rem 4rem 0 0;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(102,51,238,1) 78%, rgba(255,255,255,1)110%);
}

// ------------- Shadow gradients -------------

.shadow-gradient {
  z-index: -3;
  position: absolute;
  width: 100%;
  max-width: 100vw;
  top: 0%;
  height: 60vh;
  background: rgb(107,107,107);
  background: linear-gradient(0deg, rgba(107,107,107,0) 0%, rgba(1,3,20,1) 55%);
}

.shadow-gradient-bottom {
  rotate: 180deg;
  z-index: -3;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 80vh;
  background: rgb(107,107,107);
  background: linear-gradient(0deg, rgba(107,107,107,0) 0%, rgba(1,3,20,1) 55%);
}

// -------------- HERO SECTION --------------

.hero-text {
  color: rgb(202, 202, 202);
  position: absolute;
  top: 30%;
  left: 13%;
}

.hero-h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.hero-h4 {
  font-size: 1rem !important;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2rem;
  max-width: 50%;
}

.hero-btn {
  background-color: rgb(202, 202, 202);
  color: #010314;
  text-decoration: none;
  border-radius: 3rem;
  padding: 1rem;
  border: none;
}

.hero-btn:hover {
  cursor: pointer !important;
  background-color: rgb(15, 15, 15) !important;
  color: rgb(202, 202, 202) !important;
  z-index: 7;
}

.hero-img {
  position: relative;
  margin-top: -32%;
  left: 32%;
  width: 47%;
}

.hero-text-2 {
  color: rgb(202, 202, 202);
  position: absolute;
  top: 11%;
  left: 10%;
}

.hero2-span {
  font-size: 3.5rem !important;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.hero2-h1 {
  font-size: 2rem !important;
  font-weight: 500;
  margin-top: 2rem;
}

.hero-btn2 {
  border: 1px solid #414141;
  color: rgb(152, 152, 152);
  text-decoration: none;
  border-radius: 3rem;
  padding: 1rem;
  font-weight: 300;
  font-size: 1rem;
}

// -------------------- Mockup --------------------

.mockup-master{
  margin-top: -31%;
}

.mockup {
  position: relative;
  left: 40%;
  width: 50%;
}

.mockup:hover {
  filter: brightness(1.2);
  transition: all 1s ease-in-out;
}

.mockup-info {
  width: 90%;
  text-align: left;
}

.mockup-info-span {
  color: #7443ef;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 4rem;
  line-height: 3.5rem;
}

.mockup-info-span:hover {
  filter: brightness(1.2);
}
