.learning-title{
  background-color: #06060670;
  margin-top: 5%;
  width: 50vw;
  text-align: left;
  font-size: 2rem;
  color: #fff;
  border: 0.3rem solid #535353;
  border-radius: 2rem;
  padding: 1rem;
  margin-left: 25%;
}

.learning-subtitle{
  text-align-last: justify;
  margin: 8px;
  border-bottom: solid white 4px;
  border: 0.3rem solid #535353;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #3C28B9;
}

.learning-description{
  text-align-last: justify;
  margin: 8px;
}

.icon-plus{
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.h1,h1{
  color: white;
}

.sub-learning{
  border: 0.3rem solid #535353;
  border-radius: 2rem;
  padding: 1rem;
  // line-height: 30px;
}

.title-learning {
  margin-bottom: 10px;
}

.topic-learning {
  margin-top: 20%;
}

.learn-icons{
  margin-top: 5%;
}
