// ----------------------- Logo -----------------------

.logo-finlit {
  width: 8rem;
  position: absolute;
  margin-left: 5%;
  z-index: 1;
}

.logo-finlit:hover {
  cursor: pointer;
  scale: 1.04;
  filter: brightness(1.2);
  transition: all 0.3s ease-in-out;
}

.logo-div {
  display: flex;
  justify-content: left;
  align-items: left;
}

// ----------------------- Navbar Avatar -----------------------

.avatar-nav {
  display: flex;
  justify-content: right;
  align-items: right;
}

.avatar-nav a {
  cursor: pointer;
}

.avatar-location {
  position: absolute;
  top: 6.3%;
  right: 8%;
  z-index: 1;
}

.avatar-reg img {
  z-index: 7;
}

.avatar {
  width: 3.5rem !important;
  height: 3.5rem !important;
}

.avatar:hover {
  -webkit-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  -moz-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  transition: all 0.6s ease-in-out;
}

.dropdown-menu {
  background-color: #141414;
  color: #a6a6a6;
  border-radius: 1.2rem;
  padding: 0;
}

.dropdown-menu:hover {
  -webkit-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  -moz-box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  box-shadow: 0px 0px 57px 4px rgba(87,8,148,1);
  transition: all 0.6s ease-in-out;
}

.dropdown-item {
  color: #a6a6a6;
}

// ----------------------- Navbar Main -----------------------

.navbar-finlit {
  position: relative;
  width: 30rem;
  max-width: 30rem;
  min-width: 30rem;
  margin: 0 auto;
  background-color: #141414;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 1.2rem;
  -webkit-box-shadow: 0px 0px 57px 4px rgba(90, 45, 211, 0.77);
  -moz-box-shadow: 0px 0px 57px 4px rgba(90, 45, 211, 0.77);
  box-shadow: 0px 0px 57px 4px rgba(90, 45, 211, 0.77);
}

.nav-elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0.6rem 0.2rem;
  color: #a4a4a4;
  border: 1.5px solid #3d3d3d;
  border-radius: 1.2rem;
}

.nav-buttons {
  text-decoration: none;
  color: #a4a4a4;
}

.nav-buttons:hover {
  color: #7443ef;
}

.nav-item {
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  border: 1.5px solid #3d3d3d;
  padding: 0.6rem;
  border-radius: 0.8rem;
}

.nav-item:hover {
  cursor: pointer;
  scale: 1.05;
  border: 1.5px solid #7443ef;
  filter: brightness(1.5);
  transition: all 0.3s ease-in-out;
}

// ----------- DROPDOWN ------------

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-toggle img {
  margin-right: 10px;
}

.dropdown-menu {
  padding: 0;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.wrapper {
  display: none;
}

#active {
  display: none;
}

.menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .navbar-finlit {
    display: none;
  }

  .nav-elements {
    display: none;
  }

  .nav-buttons {
    display: none;
  }

  .nav-buttons:hover {
    display: none;
  }

  .nav-item {
    display: none;
  }

  .nav-item a {
    display: none;
  }

  .logo-finlit {
    width: 6rem;
    position: absolute;
    top: 2%;
    margin-left: 5%;
    z-index: 1;
  }

  .hero-img {
    display: none;
  }

  .hero-text {
    margin-top: 40rem;
  }

  .hero-h1 {
    font-size: 2rem !important;
    margin-left: 45% !important;
  }

  .hero-h4 {
    font-size: 1rem !important;
    margin-left: 45% !important;
    width: 60% !important;
  }

  // ----------- ANIMATED MENU BUTTON ------------

  #active {
    display: block;
  }

  .wrapper{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    display: block;
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    background: #000;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }

  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }


}
