// ----------------------- Logo -----------------------

.logo-finlit {
  width: 8rem;
  position: absolute;
  margin-left: 5%;
  z-index: 1;
}

.logo-finlit:hover {
  cursor: pointer;
  scale: 1.04;
  filter: brightness(1.2);
  transition: all 0.3s ease-in-out;
}

.logo-div {
  display: flex;
  justify-content: left;
  align-items: left;
}

// ----------------------- Navbar Avatar -----------------------

.avatar-nav {
  display: flex;
  justify-content: right;
  align-items: right;
}

.avatar-nav a {
  cursor: pointer;
}

.avatar-reg {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin: 0.5rem;
  top: 5.5%;
  right: 5%;
}

// ----------------------- Navbar Main -----------------------

.navbar-finlit {
  position: relative;
  width: 25rem;
  max-width: 25rem;
  min-width: 25rem;
  margin: 0 auto;
  background-color: #141414;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 1.2rem;
}

.nav-elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0.6rem 0.2rem;
  color: #a4a4a4;
  border: 1.5px solid #3d3d3d;
  border-radius: 1.2rem;
}

.nav-buttons {
  text-decoration: none;
  color: #a4a4a4;
}

.nav-buttons:hover {
  color: #7443ef;
}

.nav-item {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  border: 1.5px solid #3d3d3d;
  padding: 0.6rem;
  border-radius: 0.8rem;
}

.nav-item:hover {
  cursor: pointer;
  scale: 1.05;
  border: 1.5px solid #7443ef;
  filter: brightness(1.5);
  transition: all 0.3s ease-in-out;
}

.nav-item a {
  text-decoration: none;
  color: #a4a4a4;
}
