.container-main-savings{
  color: white;
  background-color: Gradient;
  background: radial-gradient(circle, rgba(0,0,0,1) 20%, rgba(102,51,238,1) 78%, rgba(255,255,255,1)110%);
  height: 1000px;
  margin: 30px;
  border-radius: 5%;
}

h2.savings-card{
  background-color: #1D1D1D;
}

// .savings-card{
//   display: flex;
//   flex-direction: row;
//   background-color: #1D1D1D;
//   height: 100%;
//   margin: 10px;
//   padding: 8px;
//   border-radius: 10%;
//   word-spacing: 4px;
//   line-height: 0%;
//   align-items: center;
//   margin-left: 17%
//   }

.text{
    margin: 30px;
}

.ui-widgets {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 9rem;
  margin:1.5rem;
  border: 1.2rem solid #570894;
  box-shadow: inset 0 0 7px grey;
  border-left-color: #570894;
  border-top-color:purple ;
  border-right-color:  #570894;
  border-bottom-color: white ;
  text-align: center;
  box-sizing: border-box;
}

.ui-widgets:nth-child(2) {
  border-top-color: #570894 ;
  border-right-color: white;
  border-left-color:  #570894;
  border-bottom-color: white;
}

.ui-widgets .ui-values {
  top: 40px;
  position: absolute;
  left: 10px;
  right: 0;
  font-weight: 700;
  font-size: 2.0rem;
}

.ui-widgets .ui-labels {
  left: 0;
  bottom: -16px;
  text-shadow: 0 0 4px grey;
  color:black;
  position: absolute;
  width: 100%;
  font-size: 16px;
}

// h3, .h3 {
//   font-size: medium;
// }

// .savings-card{
//   background-color:#1D1D1D;
//   margin-top: 30px;
//   margin-left: 10px;
//   margin-right: 10px;
//   padding: 8px;
//   border-radius: 10%;
// }

.savings-card-1{
  // background-color:darkslategray;
  background-color: #333232;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #241d1d;
  padding: 10px;
  border-radius: 10%;
  word-spacing: 4px;
  line-height: 200%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.circle{
  display: flex;
  align-items: center;
  padding: 8px;
}
