<div id="<%= dom_id transactions %>">
  <ul class="transactions-list-data">
    <li><strong>Date:</strong><br><%= transactions.date %><li>
    <% if transactions.operation_type == "income" %>
      <li><h5><span class="transactions-price-green"><%= "£#{number_with_precision(transactions.amount, precision: 2, delimiter: ',')}" %></span></h5><li>
    <% else %>
      <li><h5><span class="transactions-price-red"><%= "£#{number_with_precision(transactions.amount, precision: 2, delimiter: ',')}" %></span></h5><li>
    <% end %>
  </ul>
</div>