<div id="<%= dom_id transactions %>">
  <p>
    <strong>Category:</strong> <%= transactions.category %> |
    <strong>Date:</strong> <%= transactions.date %> |
    <strong>Amount:</strong> <%= transactions.amount %>
  </p>
</div>
