<div class="log-in-master">
  <div  data-controller="set-amount"class="create-account-container">
    <% if @account.class == Saving %>
      <h1 class="title-text">New Record</h1>
    <% else %>
      <h1 class="title-text">New Transaction</h1>
    <% end %>

    <div class="switch-button-transaction">
      <div class="switch-option">
        <input type="radio" name="switch-option" id="income-option" checked>
        <label class="option-label-transaction-income" for="income-option">Income</label>
        <input type="radio" name="switch-option" id="expense-option">
        <label class="option-label-transaction-expense" for="expense-option">Expense</label>
      </div>
    </div>

    <% if @account.class == Saving %>
      <%= render "add_saving_form", account: @account, transaction: @transaction %>
    <% else %>
      <%= render "account_form", account: @account, transaction: @transaction %>
    <% end %>
  </div>
</div>
