<div class="log-in-master" data-controller="set-amount">
  <div class="create-account-container" data-set-amount-target="card">
    <% if @account.class == Saving %>
      <h1 class="title-text">New Record</h1>
    <% else %>
      <h1 class="title-text">New Transaction</h1> 
    <% end %>

    <div class="switch-button-transaction">
      <div class="switch-option" data-set-amount-target="switchButtons"> 
        <input type="radio" name="switch-option" id="income-option" checked>
        <label class="option-label-transaction-income" for="income-option" data-action="click->set-amount#setIncome">Income</label>
        <input type="radio" name="switch-option" id="expense-option">
        <label class="option-label-transaction-expense" for="expense-option" data-action="click->set-amount#setExpense">Expense</label>
      </div>
    </div>

    <% if @account.class == Saving %>
      <%= render "add_saving_form", account: @account, transaction: @transaction %>
    <% else %>
      <%= render "account_form", account: @account, transaction: @transaction %>
    <% end %>
  </div>

  <% if @account.class == Saving %>
    <%= render "accounts", accounts: @user_accounts %>
  <% end %>
</div>
