<div class="intro-accounts-card">
    <img class="bank-avatar-accounts" src="https://res.cloudinary.com/djr22sgp3/image/upload/v1678225833/Full_Black_BG-W-P0.05_zyr5xs.png"/>
    <p><strong>Savings:</strong><br><%= account.account_name %></p>
</div>
<p>Balance<br>£<span class="account-card-balance"><%= account.balance %></span></p>
<div class="card-action-buttons-master">
    <div class="card-action-buttons">+ Add</div>
</div>